Source: ros-groovy-ar-track-alvar
Section: misc
Priority: extra
Maintainer: Scott Niekum <sniekum@cs.umass.edu>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin,ros-groovy-roscpp,ros-groovy-sensor-msgs,ros-groovy-std-msgs,ros-groovy-resource-retriever,ros-groovy-image-transport,ros-groovy-rospy,libtinyxml-dev,ros-groovy-pcl,ros-groovy-visualization-msgs,ros-groovy-tf,ros-groovy-geometry-msgs,ros-groovy-cv-bridge,ros-groovy-pcl-ros
Homepage: http://ros.org/wiki/ar_track_alvar
Standards-Version: 3.9.2

Package: ros-groovy-ar-track-alvar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev,ros-groovy-roscpp,ros-groovy-sensor-msgs,ros-groovy-std-msgs,ros-groovy-resource-retriever,ros-groovy-image-transport,ros-groovy-rospy,ros-groovy-pcl,ros-groovy-visualization-msgs,ros-groovy-tf,ros-groovy-geometry-msgs,ros-groovy-cv-bridge,ros-groovy-pcl-ros
Description: This package is a ROS wrapper for Alvar, an open source AR tag tracking library.
